.feedback-list {
    list-style-position: inside;
    padding-left: 20px;
    margin: 0;
  }
  
  .feedback-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.2s ease;
  }