.chat-page {
    display: flex;  
    height: 100vh;  /* Full screen height */
  }
  
  .menu-button {
    font-size: 20px; /* Adjust size */
    margin-right: 10px; /* Add spacing */
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
  }
  
  .menu-button:hover {
    opacity: 0.8;
  }



  .chat-page {
    display: flex;  
    height: 100vh;  /* Full screen height */
  }
  
  .menu-button {
    font-size: 20px; /* Adjust size */
    margin-right: 10px; /* Add spacing */
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
  }
  
  .menu-button:hover {
    opacity: 0.8;
  }
  
  .feedback-button {
    background: none;  
    border: none;     
    padding: 0;      
  }
  
  .feedback-icon {
    display: flex;
    padding-bottom: 33px;
    padding-left: 10px;
    color: #003882;
    opacity: 0.6;
    font-size: 20px; 
    cursor: pointer;
    z-index: 1;
  }
  
  .feedback-label {
    position: absolute;
    left: 35px;
    bottom: 33px;           
    white-space: nowrap;
    color: black;
    font-size: 14px;
    opacity: 0;
    background-color: gray;
    padding: 4px 8px;      
    border-radius: 4px;    
    pointer-events: none;  
    z-index: 2; 
  }

  .feedback-container {
    position: relative; 
    display: flex; 
    align-items: end; 
    margin-top: 40px; /* Adds space below menu button */

  } 
  
  
  .feedback-button:hover .feedback-label {
    opacity: 1;           
  }
  